fastapi==0.136.1
uvicorn==0.46.0
python-dotenv==1.2.2
python-multipart==0.0.27
numpy==2.4.4
opencv-python-headless==4.13.0.92
pillow==12.2.0
requests==2.33.1
matplotlib==3.10.9
jaxlib==0.10.0
open-rppg==0.1.1
h5py==3.16.0
flatbuffers==25.12.19
PyYAML==6.0.3
heartpy>=1.2
jax>=0.4.26
keras>=3.5.0
onnxruntime>=1.8
opencv_python>=4.5.5.64
scipy>=1.8
einops>=0.8 
av>=13 
#matplotlib<=3.9